html {
	box-sizing: border-box;
	font-size: 62.5%;
}
*, *:before, *:after {
	box-sizing: inherit;
}

:root{
    --principal: #0A3871;
    --azulClaro: #4d97f2;
    --secundario: #F3F5FC;
    --texto-negrilla: #343A40;
    --texto-normal: #495057;
    --blanco: #fff;
    --btn: #D8DFE8;
    --hover: #072B61;
}

body{
    font-family: 'Inter', sans-serif;
    /* background: var(--secundario); */
    background-image: url(../img/prueba.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

.contenedor{
    width: 90%;
    margin: 0 auto;
}

.logo{
    padding: 3rem;
}

.degradado{
    color: transparent;
    background: linear-gradient(to right, var(--principal) 0%, var(--azulClaro) 100%);
    -webkit-background-clip: text;
    background-clip: text;
}

#texto{
    width: 100%;
    background-color: transparent;
    margin-top: 4rem;
    border: none;
    font-size: 3.2rem;
    color: var(--principal);
    resize: none;
}

#texto::placeholder{
    color: var(--principal);
    font-weight: 400;
    font-size: 32px;
}

#texto::selection{
    border: none;
}

@media (min-width: 768px){
    #texto{
        margin-top: 12rem;
        min-height: 50rem;
    }
}

.alerta{
    display: flex;
}

.alerta-imagen{
    height: 1.2rem;
    margin: auto 0;
}

.alerta-texto{
    color: var(--texto-normal);
    font-weight: 400;
    font-size: 12px;
    padding-left: 0.5rem;
}

.botones{
    display: flex;
    flex-direction: column;
}

.encriptar, 
.desencriptar,
.btn{
    cursor: pointer;
    padding: 2rem;
    border: 1px solid var(--principal);
    border-radius: 24px;
    font-size: 1.6rem;
    transition: transform 200ms;
}

.encriptar{
    color: var(--blanco);
    /* background-color: var(--principal); */
    margin-bottom: 2rem;

    background: rgba( 10, 56, 113, 0.55 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4.5px );
    -webkit-backdrop-filter: blur( 4.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.encriptar:hover{
    /* background-color: var(--hover); */
    background: rgba(4, 35, 74, 0.75);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4.5px );
    -webkit-backdrop-filter: blur( 4.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    transform: scale(1.05);
}

.desencriptar{
    /* background-color: var(--secundario); */
    color: var(--principal);

    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4.5px );
    -webkit-backdrop-filter: blur( 4.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.btn{
    background-color: var(--blanco);
    color: var(--principal);
    display: none;
}

.desencriptar:hover,
.btn:hover{
    background-color: var(--btn);
    transform: scale(1.05);
}

#copiar{
    margin-top: 3rem;
}

.box-salida{
    /* background-color: var(--blanco); */
    padding: 3.2rem;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
    margin-top: 5rem;
    text-align: center;

    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4.5px );
    -webkit-backdrop-filter: blur( 4.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.box-salida img{
    display: none;
}

.mensaje{
    font-weight: 700;
    font-size: 2.4rem;
    margin: 1rem;
    display: block;
}

.mensaje::first-letter{
    text-transform: capitalize;
}

.feedback{
    font-weight: 400;
    font-size: 1.6rem;
    margin: 1rem;
}

.footer{
    text-align: center;
    color: var(--principal);
    font-weight: 700;
    padding: 2rem;
}

@media (min-width: 1024px){
    .header{
        display: inline-block;
    }
    .principal{
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 5rem;
    }
    .botones{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .encriptar{
        margin-bottom: 0;
        margin-right: 2rem;
        width: 100%;
    }
    .desencriptar{
        width: 100%;
    }
    .box-salida{
        justify-content: center;
        height: 100%;
        margin: 0;
    }
    .box-salida img{
        display: block;
    }
    .entrada{
        margin-left: 5rem;
    }
    #texto{
        min-height: 63rem;
    }
}